<ion-toolbar>
  <ion-title>ความคิดเห็นของร้าน: {{cusName}}</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="closeModal()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ความคิดเห็นเพิ่มเติมของร้าน</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group (ionChange)="onChange($event.detail.value)">
        <div class="row">
          <div class="col-md-12">
            <ion-item>
              <ion-label>ไม่มีความคิดเห็น</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ion-item>
              <ion-label>ความคิดเห็นเพิ่มเติม</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
          </div>
        </div>
      </ion-radio-group>
    </ion-card-content>
    <ion-card-content *ngIf="showComment">
      <div class="row">
        <div class="col-12">
          <textarea class="form-control" rows="4" [(ngModel)]="Cuscomment" placeholder="กรุณากรอกความเห็น"></textarea>
        </div>
      </div>
    </ion-card-content>

    <ion-card-header *ngIf="Ischkpassword">
      <ion-card-title>รหัสยืนยันตัวตนลูกค้า</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="Ischkpassword">
      <input type="number" class="form-control" placeholder="กรอกรหัสยืนยันตัวตนลูกค้า" [(ngModel)]="code" />
    </ion-card-content>

    <ion-card-content>
      <div class="col-12 text-center">
        <ion-button class="text-center" (click)="submit()">ยืนยัน</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-item>
    <ion-label>ความคิดเห็นเพิ่มเติมของร้าน</ion-label>
  </ion-item>
  <ion-item>    
    <textarea class="form-control" rows="3" [(ngModel)]="Cuscomment"></textarea>
  </ion-item>
  <ion-item *ngIf="type == 'PM'">
    <ion-label color="primary" stacked>รหัสยืนยันตัวตนลูกค้า</ion-label>
    <input type="text" class="form-control" placeholder="กรอกรหัสยืนยันตัวตนลูกค้า" [(ngModel)]="code" />
    <ion-label color="primary" stacked>รหัสยืนยันตัวตนลูกค้า</ion-label>
    <ion-input type="number" placeholder="กรอกรหัสยืนยันตัวตนลูกค้า" [(ngModel)]="code"></ion-input>
  </ion-item>
  <div class="text-center" style="margin-top: 10px;"></div> -->
</ion-content>