<ion-toolbar color="primary">
  <ion-title *ngIf="jobtype != 'CM'">ความคิดเห็นของช่าง</ion-title>
  <ion-title *ngIf="jobtype == 'CM'">แบบประเมินปัญหา</ion-title>
  <ion-buttons slot="primary">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="(jobtype == 'CM' && this.workclose == 'workclose')">
      <ion-card-title>ปัญหาเกิดจาก</ion-card-title>
    </ion-card-header>
    <ion-card-content #show *ngIf="(jobtype == 'CM' && this.workclose == 'workclose')">
      <div class="col-12">
        <ion-radio-group (ionChange)="onChange($event,'resolution')" [(ngModel)]="problemby">
          <ion-item *ngFor="let title of problembydata">
            <ion-label>{{title.SystemDataName}}</ion-label>
            <ion-radio slot="start" [value]="title.SystemID"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </ion-card-content>

    <ion-card-header #show *ngIf="(jobtype == 'CM' && this.workclose != 'workclose') || (jobtype == 'CM' && this.workclose == 'workclose')">
      <ion-card-title>วิธีการแก้ปัญหา</ion-card-title>
    </ion-card-header>
    <ion-card-content #show *ngIf="(jobtype == 'CM' && this.workclose != 'workclose') || (jobtype == 'CM' && this.workclose == 'workclose')">
      <div class="col-12">
        <textarea class="form-control" rows="3" [(ngModel)]="resolutiondetail"></textarea>
      </div>
    </ion-card-content>

    <ion-card-header #hide *ngIf="this.workclose == 'workclose'">
      <ion-card-title>ความคิดเห็นเพิ่มเติมของช่าง</ion-card-title>
    </ion-card-header>
    <ion-card-content #hide *ngIf="this.workclose == 'workclose'">
      <div class="col-12">
        <textarea class="form-control" rows="3" [(ngModel)]="TecComment"></textarea>
        <small>* กรุณากรอกมากกว่า 4 ตัวอักษร</small>
      </div>
    </ion-card-content>

    <ion-card-header #hide *ngIf="(jobtype == 'CM' || jobtype == 'INSTALL') && this.workclose == 'workclose'">
      <ion-card-title>ลายเซ็นช่าง</ion-card-title>
    </ion-card-header>
    <ion-card-content #hide *ngIf="(jobtype == 'CM' || jobtype == 'INSTALL') && this.workclose == 'workclose'">
      <div class="col-12">
        <div id="sig" class="sig">
          <div *ngIf="isShow" style="border: 1px solid black;">
            <img [src]="sig" />
          </div>
          <div style="border: 1px solid black;" *ngIf="isSign">
            <signature-pad [options]="signaturePadOptions"></signature-pad>
          </div>
          <div class="text-center" *ngIf="sig == undefined">
            <ion-button (click)="confirmSave()">ยืนยันลายเซ็น</ion-button>
            <ion-button color="dark" (click)="clearPad()">แก้ไขลายเซ็น</ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
    <hr />
    <ion-card-content>
      <div class="col-md-12 text-center">
        <ion-button (click)="submit()">บันทึก</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <div class="container">
    <div class="row">
      <div class="col-12" #show *ngIf="(jobtype == 'CM' && this.workclose == 'workclose'); else show">
        <ion-item>
          <ion-label>ปัญหาเกิดจาก</ion-label>
          <ion-select interface="popover" (ionChange)="onChange($event,'resolution')" [(ngModel)]="problemby">
            <ion-select-option *ngFor="let title of problembydata" [value]="title.SystemID"
              [selected]="title.SystemDataName">{{title.SystemDataName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="col-12" #show
        *ngIf="(jobtype == 'CM' && this.workclose != 'workclose') || (jobtype == 'CM' && this.workclose == 'workclose'); else show">
        <ion-item>
          <ion-label>วิธีการแก้ปัญหา</ion-label>
        </ion-item>
        <ion-item>
          <textarea class="form-control" rows="3" [(ngModel)]="resolutiondetail"></textarea>
        </ion-item>
      </div>
      <div class="col-12" #hide *ngIf="this.workclose == 'workclose'; else hide">
        <ion-item>
          <ion-label>ความคิดเห็นเพิ่มเติมของช่าง</ion-label>
        </ion-item>
        <ion-item>
          <textarea class="form-control" rows="3" [(ngModel)]="TecComment"></textarea>
        </ion-item>
      </div>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 10px;">
      <ion-button (click)="submit()">บันทึก</ion-button>
    </div>
  </div> -->

</ion-content>