<ion-toolbar color="primary">
  <ion-title *ngIf="type == 'request' || type == 'CM'">ขอเสนอราคา / ขอเบิกอะไหล่: {{itemName}}</ion-title>
  <ion-title *ngIf="type == 'history'">ประวัติขอเบิกอะไหล่: {{itemName}}</ion-title>
  <ion-buttons slot="primary" *ngIf="type == 'history'">
    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>

  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card *ngIf="type == 'history'">
    <ion-card-header>
      <ion-card-title>ประวัติขอเบิกอะไหล่</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="col-12">
        <div class="list-group" *ngIf="notSpare">
          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">ไม่มีข้อมูล</h5>
            </div>
          </div>
        </div>
        <div class="list-group" *ngIf="!notSpare">
          <div class="list-group-item list-group-item-action" aria-current="true" *ngFor="let item of followLog">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">รายละเอียด</h5>
              <small>{{item.CreatedDate | date: 'd/M/yyyy'}} <br/> {{item.CreatedDate | date: 'HH:mm'}}</small>
            </div>
            <p class="mb-1" [innerHTML]="item.Description"></p>
            <!-- <small>And some small print.</small> -->
          </div>
        </div>
      </div>
    </ion-card-content>

    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card *ngIf="type == 'request' || type == 'CM'">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>เลือกรายการ</ion-card-title>
      </ion-card-header>
      <div class="col-12">
        <ion-item>
          <ion-label>ขอเสนอราคา</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="isQuotation" (ionChange)="eventQuotation($event)"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>ขอเบิกอะไหล่</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="isRequest" (ionChange)="eventRequest($event)"></ion-checkbox>
        </ion-item>
      </div>
    </ion-card-content>

    
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>รายละเอียดขอเสนอราคา / ขอเบิกอะไหล่</ion-card-title>
      </ion-card-header>
      <div class="col-12">
        <textarea class="form-control" rows="5" [(ngModel)]="request">{{request}}</textarea>
      </div>
      <div class="col-12">
        <ion-item>
          <ion-label>กรุณาเลือก กรณีเครื่องเบรก</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="isBreak" (ionChange)="machineBreak($event)"></ion-checkbox>
        </ion-item>
      </div>
    </ion-card-content>

    <ion-card-content>
      <div class="col-md-12 text-center">
        <ion-button (click)="confirmSubmit()">ยืนยันขอเบิกอะไหล่</ion-button>
        <ion-button color='dark' (click)="close()">ยกเลิก</ion-button>
      </div>
    </ion-card-content>

    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>