ion-content{
    font-size: 10px!important;
    --ion-background-color: white;

    table {
        
        text-align: center;
        vertical-align: middle;
    }

    label {
        display: inline-block;
        line-height: 42px;
        vertical-align: middle;
  
    }
}